<ng-container *ngFor="let source of dataSource; let i=index">
  <ng-container *ngTemplateOutlet="tempRef; context: {$implicit: source, tab:false, index:i}"></ng-container>
</ng-container>

<ng-template #tempRef let-data let-tab="tab">
  <ng-container *ngIf="data.type === 'folder'; else fileTemp">
    <p style="color: forestgreen"><span *ngIf="tab" [ngStyle]="getStyle(data.deep)"></span>
      <a (click)="isShow(data )" >
        <app-arrow-rigth *ngIf="data.values!=null&&!data.isVisible"></app-arrow-rigth>
        <app-arrow-down *ngIf="data.isVisible"></app-arrow-down>
        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="18px" height="18px">
          <path fill="#FFA000" d="M40,12H22l-4-4H8c-2.2,0-4,1.8-4,4v8h40v-4C44,13.8,42.2,12,40,12z"/>
          <path fill="#FFCA28" d="M40,12H8c-2.2,0-4,1.8-4,4v20c0,2.2,1.8,4,4,4h32c2.2,0,4-1.8,4-4V16C44,13.8,42.2,12,40,12z"/>
        </svg>
      </a>
      {{data.name}}</p>
    <ng-container *ngIf="data.isVisible">
      <ng-container *ngFor="let elt of data.values; let i =index">
        <ng-container *ngTemplateOutlet="tempRef; context: {$implicit: elt, tab:true, index:i}"></ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #fileTemp>
    <p style="color: blue"><span *ngIf="tab" [ngStyle]="getStyle(data.deep)"></span>
      <svg fill="#000000" width="18px" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.13 4.13 9.37.37A1.26 1.26 0 0 0 8.48 0H3.75A1.25 1.25 0 0 0 2.5 1.25v13.5A1.25 1.25 0 0
    0 3.75 16h8.5a1.25 1.25 0 0 0 1.25-1.25V5a1.26 1.26 0 0 0-.37-.87zm-.88 10.62h-8.5V1.25h3.48V5a1.25
    1.25 0 0 0 1.25 1.27h3.77zm0-9.73H8.48V1.25L12.25 5z"/>
        <path d="M5 7.5h6v1.25H5zM5 10h6v1.25H5z"/>
      </svg>  {{data.name}}</p>
  </ng-template>

</ng-template>

